### vscode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py


# pyenv
.python-version


# Environments
.env
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
pythonenv*


# operating system-related files
*.DS_Store #file properties cache/storage on macOS
Thumbs.db #thumbnail cache on Windows

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride


### DB ###
*.sqlite3