{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}News App - Reset Password{% endblock title %}

{% block content %}

<div class="container pt-3">
    <!-- T I T L E -->
    <h1 class="display-2 mt-5 text-dark text-center g-font">Reset Password</h1>
    <div class="divider bg-primary border border-secondary"></div>

    <!-- C H A N G E  P W   F O R M -->
    <div class="mt-3 p-3 border border-secondary rounded w-50 mx-auto">
        <form action="" method="post">
            {% csrf_token %}
            {{form|crispy}}
            <input class="btn btn-primary btn-lg btn-wide mt-3" type="submit" value="Send Email">
        </form>
    </div>

</div>

{% endblock content %}