{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}News App - Reset Password{% endblock title %}

{% block content %}

<div class="container pt-3">
    <!-- T I T L E -->
    <h1 class="display-2 mt-5 text-dark text-center g-font">Reset Password</h1>
    <div class="divider bg-primary border border-secondary"></div>

    <!-- R E S E T   P W   S U C C E S S -->
    <div class="alert-success mt-3 w-50 p-3 mx-auto border border-success rounded" role="alert">An email has been sent to reset your password.</div>

</div>

{% endblock content %}