.landing {
    background-color: #84a6c662;
    border: 3px solid #84A6C6;
    border-radius: 4px;
}

/* L O G O   S P I N */
.spin {
    animation-name: spin;
    animation-duration: 20000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}