{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}News App - Edit {{article.title}}{% endblock title %}

{% block content %}

<div class="container pt-3">
    <!-- T I T L E -->
    <h1 class="display-2 mt-5 text-center g-font">Edit Post - {{article.title}}</h1>
    <div class="divider bg-secondary border border-secondary"></div>

    <!-- E D I T   P O S T   F O R M -->
    <div class="mt-3 p-3 border border-secondary rounded w-50 mx-auto">
        <form action="" method="post">
            {% csrf_token %}
            {{form|crispy}}
            <input class="btn btn-primary btn-wide mt-3" type="submit" value="Update">
        </form>
    </div>

</div>

{% endblock content %}